<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="form" style="margin: 100px; line-height: 30px;">
        <form>
            <label for="title">Book title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="author"> Author: </label><br>
            <input type="text" id="author" name="author">
            <div><input type="submit" value="Нэмэх"></div>  
        </form>
    </div>
</body>

</html>